In [1]:
import numpy as np
import pandas as pd
import cx_Oracle
from sqlalchemy import types, create_engine
import os
import random
from pretty_html_table import build_table

In [2]:
#Random data set with a sensative attribue of food choise
data = {'Name (ID)' : ['Bill','Julia','Rose','Gwen', 'Rose','Peter','James','Anita','Bill',
                  'Julia'],
        'Age (QID)' : [23, 19, 22, 25, 22, 18, 20, 68, 23, 19], 
        'Gender (QID)' : ['M','F','F','F','F','M','M','F','M','F'],
        'Income £k (SA)' : [23,38,30,32,30,
                86,12,24,29,38]}
                  
dfo = pd.DataFrame(data=data)

table1 = build_table(dfo, 'grey_light')
with open('table1.html', 'w') as f:
    f.write(table1)

# Masking subsitution

In [3]:
df = dfo.copy()

subgroup_name = ["Andy", "Rebecca", "Chris"]

for i in range(0, len(df)):
    df.loc[i, "Name (ID)"] = subgroup_name[random.randint(0, len(subgroup_name)-1)]

df
table2 = build_table(df, 'grey_light')
with open('table2.html', 'w') as f:
    f.write(table2)

# Mask Null

In [4]:
df = dfo.copy()
df["Name (ID)"] = '*'
# df["Age (QID)"] = '*'

df

table3 = build_table(df, 'grey_light')
with open('table3.html', 'w') as f:
    f.write(table3)

# Local supression

In [25]:
df = dfo.copy()
df["Name (ID)"] = '*'



df.loc[5, "Income £k (SA)"] = "*"
df.loc[6, "Income £k (SA)"] = "*"
df.loc[7, "Age (QID)"] = "*"

df

table4 = build_table(df, 'grey_light')
with open('table4.html', 'w') as f:
    f.write(table4)

# Record supression

In [26]:
df = dfo.copy()

df.iloc[5] = "*"
df.iloc[3] = "*"

df

table5 = build_table(df, 'grey_light')
with open('table5.html', 'w') as f:
    f.write(table5)

# Anatomisation

In [27]:
dfa = dfo[["Gender (QID)", "Income £k (SA)"]]

table6 = build_table(dfa, 'grey_light')
with open('table6.html', 'w') as f:
    f.write(table6)

# Generalisation

In [28]:
df = dfo.copy()
df["Name (ID)"] = '*'
labels= ['10-20', '20-30', '30-40', '40-50', '50-60', '60-70']
df['Age (QID)'] = pd.cut(df["Age (QID)"], [10, 20, 30, 40, 50, 60, 70], labels=labels,
                   include_lowest = True)

df

table7 = build_table(df, 'grey_light')
with open('table7.html', 'w') as f:
    f.write(table7)

# Pseudonymisation

## Deterministic

In [29]:
df = dfo.copy()
df["Name (ID)"] = ['1', '2', '3', '4', '3', '5', '6', '7', '8', '2']

df

table8 = build_table(df, 'grey_light')
with open('table8.html', 'w') as f:
    f.write(table8)

## Document Randomised

In [30]:
df = dfo.copy()
df["Name (ID)"] = random.sample(range(0,10), 10)

df

table9 = build_table(df, 'grey_light')
with open('table9.html', 'w') as f:
    f.write(table9)

# Noise addition

In [31]:
df = dfo.copy()

noise = random.sample(range(-8, 8), 10)

df["Income £k (SA)"] += noise

df

table10 = build_table(df, 'grey_light')
with open('table10.html', 'w') as f:
    f.write(table10)

# Permutation

In [44]:
df = dfo.copy()

df["Income £k (SA)"] = df["Income £k (SA)"].sample(frac=1).values
df["Age (QID)"] = df["Age (QID)"].sample(frac=1).values

df

table11 = build_table(df, 'grey_light')
with open('table11.html', 'w') as f:
    f.write(table11)

In [45]:
df

  Name (ID)  Age (QID) Gender (QID)  Income £k (SA)
0      Bill         68            M              38
1     Julia         19            F              32
2      Rose         23            F              23
3      Gwen         19            F              30
4      Rose         22            F              38
5     Peter         22            M              12
6     James         23            M              29
7     Anita         25            F              24
8      Bill         18            M              86
9     Julia         20            F              30

# Microaggregation

In [33]:
df = dfo.copy()

df["Income £k (SA)"] = [20, 38, 30, 30, 30, 86, 20, 20, 30, 38]

df

table12 = build_table(df, 'grey_light')
with open('table12.html', 'w') as f:
    f.write(table12)