In [1]:
import numpy as np
import pandas as pd
import cx_Oracle
from sqlalchemy import types, create_engine
import os
import random
from pretty_html_table import build_table

In [3]:
ORACLE_USER = os.environ["ORACLE_USER"]
ORACLE_SERVICE_NAME = os.environ["ORACLE_SERVICE_NAME"]
ORACLE_HOST = os.environ["ORACLE_HOST"]
ORACLE_PORT = os.environ["ORACLE_PORT"]
ORACLE_PASSWORD = os.environ["ORACLE_PASSWORD"]

engine = create_engine(f'oracle+cx_oracle://{ORACLE_USER}:{ORACLE_PASSWORD}@{ORACLE_HOST}:{ORACLE_PORT}/{ORACLE_SERVICE_NAME}')
conn = engine.connect()
df = pd.read_sql("SELECT * FROM SENSITIVE_PETS_TESTS_NAMED", conn)

In [4]:
last_purchase = ["Pentolina", "Hotel Chocolat", "Hotel Chocolat", "Pentolina", "Pentolina", "Hotel Chocolat", "Hotel Chocolat", "Pentolina", "Hotel Chocolat", "Pentolina", 
"Pentolina", "Pentolina", "Pentolina", "Hotel Chocolat", "Pentolina", "Hotel Chocolat", "Pentolina", "Hotel Chocolat", "Hotel Chocolat", "Hotel Chocolat","Pentolina"]

In [5]:
df["LASTPURCHASE"] = last_purchase

In [6]:
dfs = df.rename(columns={"Name (ID)":"NAME", "Age (QID)":"AGE", "Gender (QID)":"GENDER", "Food choice":"FOODCHOICE"})
dfs.head()

    name  age gender foodchoice    LASTPURCHASE
0   Bill   23      M   Spagetti       Pentolina
1  Julia   19      F  Chocolate  Hotel Chocolat
2   Rose   22      F  Chocolate  Hotel Chocolat
3   Gwen   25      F   Spagetti       Pentolina
4  Peter   30      M   Spagetti       Pentolina

In [8]:
dtyp = {c:types.VARCHAR(df[c].str.len().max())
        for c in dfs.columns[dfs.dtypes == 'object'].tolist()}

table_name = f"SENSITIVE_PETS_TESTS_EXTRA"
dfs.to_sql(table_name, conn, dtype=dtyp, index=False)